$white: #ffffff;
$background: $white;
$border: #DFE3E9;
$shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
$radius: 4px;
$text: #3D495C;
$text-secondary: #A4A9B1;
$color: #1A91EB;
$grey-background: #e0e0e0;

.ngx-moderndatepicker-position-bottom-left {
 top: 40px;
 right: 0;
}

.ngx-moderndatepicker-position-bottom-right {
   top: 40px;
   left: 0;
}


.ngx-moderndatepicker-position-top-left {
  bottom: 40px;
  right: 0;
}
.ngx-moderndatepicker-position-top-right {
 bottom: 40px;
 left: 0;
}
.ngx-moderndatepicker-container {
  position: relative;



  .ngx-moderndatepicker-input {
    padding: 5px 10px;
    font-size: 14px;
    width: 200px;
    outline: none;
    border: 1px solid $border;
  }


  .ngx-moderndatepicker-calendar-container {
    position: absolute;
    width: 356px;
    height: 230px;
    background: $background;
    padding: 10px;
    box-shadow: $shadow;
    border: 1px solid $border;
    border-radius: $radius;

    .topbar-container{
      height: 10px;
      padding: 5px 0px;
      display: flex;
      align-items: center;
      user-select: none;
      .main-calendar-selection-year {
        display: flex;
        align-items: center;
        width: 108px;
        min-width: 108px;
      }
      .main-calendar-day-names {
        color: $text-secondary;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 0px 0 0 5px;
        .day-name-unit {
          width: calc(100% / 7);
          height: 30px;
          text-transform: uppercase;
          text-align: center;
          line-height: 30px;
         }
       }
    }

      svg {
        cursor: pointer;

        g {
          fill: #CED0DA;
         }
      }

      .topbar-title {
        color: $text;
        font-size: 15px;
        font-weight: 400;
        margin: 0px 10px;
        cursor: pointer;
      }


    .main-calendar-container {
      width: 100%;
      height: 100%;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      flex-direction: row;

      .main-calendar-month-names {
        display: flex;
        flex-flow: row wrap;
        width: 108px;
        min-width: 108px;
        padding: 15px 0px;
         .month-name-unit {
            width: 45px;
            height: 30px;
            color: black;
            text-align: center;
            border-radius: 5px;
            line-height: 30px;
            cursor: pointer;
            span {
              width: 35px;
              padding: 2.5px 7px;
              border-radius: 15%;
              height: 25px;
              line-height: 25px;
              text-align: center;
            }
            span:hover, span.is-this-month {
              border: 2px solid $color;
              margin: -2px;
            }

            span.is-disabled {
              cursor: not-allowed;
              color: $text-secondary;

              :hover {
                background: transparent;
               }
            }
            span.is-selected {
              background: $color;
              color: $white;
              border: 2px solid $color;
            }
          }
      }
      .main-calendar-days, .main-calendar-years {
        padding: 15px 5px;
        width: 100%;
        display: inline-block;
        max-height: 275px;
        overflow: auto;

        .day-unit, .year-unit {
          height: 30px ;
          display: inline-flex;
          float: left;
          width: calc(100% / 7);
          align-items: center;
          justify-content: center;
          cursor: pointer;
          user-select: none;
          color: $text;
          span {
            width: 28px;
            border-radius: 15%;
            height: 20px;
            line-height: 20px;
            text-align: center;
          }
          span.is-prev-month {
            color: $text-secondary;
          }

          span:hover, span.is-today {
            border: 2px solid $color;
            margin: -2px;
          }

          span.is-weekend , span.is-holiday {
            background: $grey-background;
          }
          span.is-selected {
            background: $color;
            color: $white;
            border: 2px solid $color;
          }
          span.is-disabled {
            cursor: not-allowed;
            color: $text-secondary;

            :hover {
              background: transparent;
             }
          }
        }
      }

      .main-calendar-years {
        height: 200px;
        display: block;
        margin: auto;
        padding: 5px 10px;

        .year-unit {
          width: calc(100% / 3);
          border-radius: 10px;
          &.is-disabled {
            cursor: not-allowed;
            color: $text-secondary;

            :hover {
              background: transparent;
             }
          }
          &.is-selected {
            background: $color;
            color: $white;
            border: 2px solid $color;
          }
          &:hover, &.is-today {
            border: 2px solid $color;
            margin: -2px;
          }
         }
       }
    }
  }
}
